/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
.swc
truffle/account2.env

**/deploy/config.dev.json
**/deploy/config.line.json
**/deploy/config.staging.json
