@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body  {
  overflow-x: hidden;
}

body {
  background-color: #fcfaf6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

img {
  /* css-图片下方有空白问题解决方法，https://blog.csdn.net/qq_39111074/article/details/119889034 */
  display: block;
}

button {
  border: 0;
}

.bd1 {
  border: 1px solid deeppink;
}
.bd2 {
  border: 1px solid rgb(8, 167, 252);
}
.bd3 {
  border: 1px solid rgb(255, 204, 0);
}